doctype html
html(lang="de")
  head
    meta(charset="utf-8")
    title NavaTec GmbH
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", href="./favicon.ico", sizes="any")
    link(rel="icon", href="./favicon.svg", type="image/svg+xml")
    link(
      rel="apple-touch-icon",
      sizes="180x180",
      href="./apple-touch-icon.png"
    )
    link(
      rel="icon",
      type="image/png",
      sizes="32x32",
      href="./favicon-32x32.png"
    )
    link(
      rel="icon",
      type="image/png",
      sizes="16x16",
      href="./favicon-16x16.png"
    )
    link(rel="manifest", href="./site.webmanifest")
    link(
      href="../node_modules/bootstrap/dist/css/bootstrap.css",
      rel="stylesheet"
    )
    meta(
      name="description",
      content="NavaTec ist Ihr zuverlässiger Partner in den Bereichen professioneller Webauftritt, Softwareentwicklung, industrieller Bildverarbeitung und Spieleentwicklung"
    )
    meta(
      name="keywords",
      lang="de",
      content="Softwareentwicklung, IT-Heilbronn, Heilbronn, Flein, Softwaretechnik, Informationstechnik, Mobile Applikationen, Mobile App, Mockup, Bildverarbeitung, Websiteentwicklung, klassische Webanwendungen, Hilfe, Bad Friedrichshall, Bad Rappenau, Bad Wimpfen, Beilstein, Brackenheim, Eppingen, Güglingen, Gundelsheim, Lauffen am Neckar, Löwenstein, Möckmühl, Neckarsulm, Neudenau, Neuenstein am Kocher, Schwaigern, Weinsberg, Widdern, Öhringen, Bretzfeld, Tübingen, Mannheim, Freiburg, Ulm, Pforzheim, Reutlingen, Esslingen, Villingen-Schwenningen, Konstanz, Aalen, Sindelfingen, Schwäbisch Gmünd, Baden-Baden, Berlin, Hamburg, Köln, Frankfurt am Main, Düsseldorf, Dortmund, Essen, Leipzig, Bremen, Dresden, Hannover, Nürnberg, Duisburg, Bochum, Wuppertal, Bielefeld, Bonn, Münster, Augsburg, Wiesbaden, Gelsenkirchen, Mönchengladbach, Braunschweig, Chemnitz, Kiel, Aachen, Ludwigsburg, Stuttgart, Karlsruhe, München, Baden Württemberg, Ulm, Heidelberg, IT, Entwicklung, Firma, Digital, Digitalisierung, Software, Webseite, Seite erstellen, online, Online Auftritt, Bildverarbeitung, Industrie, industriell, Webapplikation, Webapplikationen, Apps, App, mobil, responsive, Launch, Relaunch, Mustererkennung, Spieleentwicklung, Spieleherstellung, Programmierung, Programmieren, Programm, professionell, portieren, Portierung, System"
    )
    meta(
      name="keywords",
      lang="en",
      content="company, IT, website, digital, launch, build website, image processing, german company, Germany, apps, software, app, app development, app developer, game development, game developer, mobile, mobile apps, mobile games, professional, service, industry, image software"
    )
    meta(property="og:site_name", content="NavaTec GmbH")
    meta(property="og:title", content="NavaTec GmbH")
    meta(property="og:url", content="https://www.navatec.com/")
    meta(property="og:image", content="./favicon-200x200.png")
    script.
      (function () {
        var ua = "UA-99342176-1";
        var disableStr = "ga-disable-" + ua;
        if (document.cookie.indexOf(disableStr) >= 0) {
          window[disableStr] = true;
        }
        window.gaOptout = function () {
          document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
          window[disableStr] = true;
          alert("Google Analytics wurde für diese Website deaktiviert.");
        };

        (function (i, s, o, g, r, a, m) {
          i["GoogleAnalyticsObject"] = r;
          (i[r] =
            i[r] ||
            function () {
              (i[r].q = i[r].q || []).push(arguments);
            }),
            (i[r].l = 1 * new Date());
          (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m);
        })(window, document, "script", "https://www.google-analytics.com/analytics.js", "ga");
        ga("create", ua, "auto");
        ga("set", "anonymizeIp", true);
        ga("send", "pageview");
      })();
    style.
      body {
        background: #f8f8f8;
        padding: 2rem 1rem 2rem 1rem;
      }
      @media (min-width: 576px) {
        body {
          padding: 5rem;
        }
      }
  body
    block content
